/* GENERAL */
body {
    font-family: 'Inter', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/* UTILITIES */
.cta {
    display: inline-block;
    padding: 8px 12px;
    line-height: 1;
    color: #3a8aff;
    background-color: #fff;
    border: 1px solid currentColor;
    border-radius: 5px;
}
.cta.big-cta {
    padding: 14px 16px;
    border: 1px solid #c2c4ca;
}

/* icon font */
[class$="link"]::after {
    padding-left: 10px;
    content: ">";
}


/* text */
.text-center {
    text-align: center;
}
.main-text {
    font-size: 1.2rem;
    line-height: 1.5em;
    font-weight: 500;
}

.small-text {
    font-size: 0.8rem;
}
/* color */
.heading-color {
    color: #031c4e;
}
.white-text {
    color: #fff;
}
.text-light-color {
    color: #bbcdff;
}
.text-color {
    color: #677490;
}

.main-link {
    color: #1874ff;
    font-weight: 500;
}

.bg-secondary-colour {
    background: #f3f5f9;
}


/* HEADER CONTENT */
header {
    height: 65px;
    line-height: 65px;
}

header .brand img {
    width: 160px;
    vertical-align: middle;
}

header .mobile-menu {
    text-align: right;
    color: #3a8aff;
}

header .desktop-nav {
    display: none;
}
/* MAIN CONTENT */
/* hero */
section.hero {
    padding-top: 80px;
    padding-bottom: 60px;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 2.3rem;
    font-weight: 600;
}

.hero-text p {
    margin-top: 24px;
    margin-bottom: 18px;
}

/* form login */
.hero .form-login {
    padding: 44px 20px 30px;
    background-color: #fff;
    border-radius: 5px;
}

.hero .form-login h2 {
    font-size: 1.8rem;
}
.hero .form-login h2 > span {
    display: block;
    color: #0169ff;
}

.hero .form-login form > * {
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    
}

.hero .form-login form input::placeholder {
    padding-left: 5px;
}

.hero .form-login form > *:not([class="btn"]) {
    height: 44px;
}
.hero .form-login form > .btn {
    height: 32px;
    line-height: 32px;
}

.btn.create-account {
    background-color: #579aff;
}

.btn.account-google {
    position: relative;
    color: currentColor;
    background-color: transparent;
    box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.1);
}

.btn.account-google img {
    height: 70%;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
}

.form-login form + div.small-text {
    margin-top: 16px;
}
.form-login form + div.small-text a {
    text-decoration: underline;
    color: #1573ff;
}

/* customers section */
section.customers {
    padding-top: 52px;
    padding-bottom: 35px;
}
section.customers > div.small-text {
    font-weight: 500;
}
section.customers li {
    line-height: 130px;
    height: 130px;
    text-align: center;
}
section.customers li img {
    max-width: 80%;
    max-height: 100%;
    vertical-align: middle;
}
/* FOOTER CONTENT */

/* RESPONSIVE */
/* MD TABLET 768 > */
@media screen and (min-width: 768px) {
    /* GENERAL */

    /* UTILITIES */

    /* hero section */
    section.hero {
        padding-top: 60px;
    }

    .hero-text {
        margin-top: 25px;
    }

    .main-text {
        font-size: 1.3rem;
    }

    /* customers section */
    section.customers li img {
        max-width: 90%;
    }
}

/* LG DESKTOP  1170px > */
@media screen and (min-width: 1170px) {

    /* GENERAL */

    /* UTILITIES */
    /* icon font */
    nav .center-nav > ul > li:nth-child(odd) > a::after,
    nav .right-nav > ul > li:nth-child(2) > a::after {
        padding-left: 5px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f107";
    }

    /* text */
    .main-text {
        font-size: 1.4rem;
    }

    /* header content */
    header {
        font-size: 14px;
    }

    header nav .col-xs-7 {
        display: none;
    }
    header .desktop-nav {
        display: block;
    }
    
    header li {
        display: inline-block;
    }
    nav .desktop-nav > .center-nav ul > li:not(:first-of-type),
    nav .desktop-nav > .right-nav ul > li:not(:first-of-type) {
        margin-left: 20px;
    }

    /* hero section */
    section.hero {
        padding-bottom: 66px;
    }

    h1 {
        font-size: 3.7rem;
    }

    .hero-text p {
        margin-top: 16px;
    }

    .form-login h2 {
        line-height: 1.6em;
    }
}