/* GENERAL */
body {
    padding-top: 65px;
    font-family: 'Inter', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section h2 {
    font-size: 1.9rem;
}

section h3 {
    margin-top: 22px;
    margin-bottom: 14px;
    font-size: 15px;
}
/* UTILITIES */
.cta {
    display: inline-block;
    padding: 8px 12px;
    line-height: 1;
    color: #3a8aff;
    background-color: #fff;
    border: 1px solid currentColor;
    border-radius: 5px;
}
.cta.big-cta {
    margin-top: 15px;
    padding: 14px 16px;
    border: 1px solid #c2c4ca;
}

section.about-us,
section.designed-dev,
section.features {
    padding-top: 85px;
    padding-bottom: 70px;
}

/* icon font */
[class$="link"]::after {
    padding-left: 10px;
    content: ">";
}

/* slider components */
.slider > a {
    visibility: hidden;
}

.slide-number li {
    display: inline-block;
}
.slide-number a {
    color: #0169ff;
}

.slide-number a i {
    font-size: 13px;
} 

/* text */
.text-center {
    text-align: center;
}
.main-text {
    font-size: 1.3rem;
    line-height: 1.5em;
    font-weight: 500;
}

.small-text {
    font-size: 0.8rem;
}
/* color */
.heading-color {
    color: #031c4e;
}
.white-text {
    color: #fff;
}
.text-light-color {
    color: #bbcdff;
}
.text-color {
    color: #677490;
}

.main-link {
    color: #1874ff;
    font-weight: 500;
}
.table-link {
    color: #01c2cb;
}

.table-color {
    color: #f3f6fb;
}
.table-secondary-color {
    color: #abbce3;
}

.bg-primary-color {
    background-image: linear-gradient(#0148c5, #001e99);
}

.bg-secondary-colour {
    background: #f3f5f9;
}


/* HEADER CONTENT */
header {
    width: 100%;
    height: 65px;
    line-height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background: #fff;
}

header .brand img {
    width: 160px;
    vertical-align: middle;
}

header .mobile-menu {
    text-align: right;
    color: #3a8aff;
}

header .desktop-nav {
    display: none;
}
/* MAIN CONTENT */
/* hero */
section.hero {
    padding-top: 80px;
    padding-bottom: 60px;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 2.3rem;
    font-weight: 600;
}

.hero-text p {
    margin-top: 24px;
    margin-bottom: 18px;
}

/* form login */
.hero .form-login {
    padding: 44px 20px 30px;
    background-color: #fff;
    border-radius: 5px;
}

.hero .form-login h2 {
    font-size: 1.8rem;
}
.hero .form-login h2 > span {
    display: block;
    color: #0169ff;
}

.hero .form-login form > * {
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    
}

.hero .form-login form input::placeholder {
    padding-left: 5px;
}

.hero .form-login form > *:not([class="btn"]) {
    height: 44px;
}
.hero .form-login form > .btn {
    height: 32px;
    line-height: 32px;
}

.btn.create-account {
    background-color: #579aff;
}

.btn.account-google {
    padding-left: 33px;
    position: relative;
    color: currentColor;
    background-color: transparent;
    box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.1);
}

.btn.account-google img {
    height: 70%;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
}

.form-login form + div.small-text {
    margin-top: 16px;
}
.form-login form + div.small-text a {
    text-decoration: underline;
    color: #1573ff;
}

/* customers section */
section.customers {
    padding-top: 52px;
    padding-bottom: 35px;
}

section.customers > div.small-text {
    font-weight: 500;
}
section.customers li {
    line-height: 130px;
    height: 130px;
    text-align: center;
}
section.customers li img {
    max-width: 80%;
    max-height: 100%;
    vertical-align: middle;
}

/* features section */
section.features h2 {
    margin-bottom: 16px;
}

section.features > .wrap-container > div:first-child {
    margin-bottom: 75px;
}

section.features > .wrap-container aside:nth-child(2) {
    margin-bottom: 30px;
}

section.features > .wrap-container .row div {
    margin-bottom: 12px;
}
/* aside */
section.features aside ul {
    border-left: 2px solid #e3e3e3;
}

section.features aside ul a {
    padding-left: 11px;
    line-height: 49px;
    color: currentColor;
}

/* designed-dev section */

section.designed-dev p {
    margin-top: 35px;
    margin-bottom: 160px;
}

section.designed-dev .slide + div {
    margin-top: 25px;
}

section.designed-dev .slide-number {
    margin-top: 100px;
}

section.designed-dev .slide img {
    width: 100%;
}

/* business-features section */
section.business-features {
    padding-top: 82px;
    padding-bottom: 90px;
}

section.business-features div:nth-of-type(1n + 2){
    margin-top: 35px;
}

section.business-features div:nth-of-type(1n + 2) p {
    margin-bottom: 18px;
}

/* regions section */
section.regions {
    padding: 80px 0;
}

section.regions h2 {
    margin-bottom: 10px;
}

section.regions table {
    width: 100%;
    border-spacing: 0px;
}
section.regions table:first-of-type {
    margin-bottom: 15px;
}

section.regions table tr {
    line-height: 40px;
}
section.regions table tr td{
    border-spacing: 0;
    border-bottom: 1px solid #f3f6fb;
}

section.regions table tr:last-child td {
    border: none;
}

section.regions table tr > td:last-of-type {
    text-align: right;
}

/* about us section */
section.about-us .slider {
    margin-top: 98px;
}
section.about-us .slide {
    padding: 40px 0;
    background-color: #fff;
    border-radius: 5px;
}

.about-us .slide > div:first-of-type {
    margin: 12px 0;
}

.about-us .slide > div:last-of-type {
    margin-top: 32px;
}

.about-us .slide-number {
    margin-top: 35px;
}
/* FOOTER CONTENT */
footer {
    padding: 60px 0;
    background-color: #031c4e;
}

footer .credits > div:first-of-type,
footer a {
    color: #7a859d;
}

footer .small-text {
    color: #415376;
}

footer .credits li{
    display: inline-block;
    margin-right: 10px;
}
footer h3 {
    margin-top: 1em;
}
footer li {
    line-height: 2em;
}

footer .shark {
    position: fixed;
    bottom: 150px;
    left: 40px;
    width: 60px;
    height: 60px;
    background-color: #136FFB;
    border-radius: 10px;
}

footer .shark img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer .shark .notification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 65%;
    bottom: 65%;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #FC0D1C;
    border-radius: 50%;
    border: 4px solid currentColor;
}

footer .help {
    position: fixed;
    left: 40px;
    bottom: 55px;
    width: 350px;
    padding: 13px 10px;
    background-color: #fff;
    filter: drop-shadow(5px 3px 1px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
}

footer .help .arrow {
    position:absolute;
    left: calc(100% - 10px);
    bottom: 20%;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background-color: #fff;
}
/* RESPONSIVE */
/* MD TABLET 768 > */
@media screen and (min-width: 768px) {
    /* GENERAL */
    
    /* UTILITIES */
    /* slider components */
    .slider {
        position: relative;
    }
    .core-slider {
        display: inline-block;
        margin: auto;
    }
    
    .slider > a {
        visibility: visible;
        display: inline-block;
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        font-size: 2.5rem;
    }
    .slider > a:first-of-type {
        right: 105%;
        color: #6f7b97;
    }
    .slider > a:last-of-type {
        left: 105%;
    }

    /* hero section */
    section.hero {
        padding-top: 60px;
    }

    .hero-text {
        margin-top: 25px;
    }

    .main-text {
        font-size: 1.4rem;
    }

    /* customers section */
    section.customers li img {
        max-width: 90%;
    }

    /* features section */
    .row::after {
        display: table;
        content: "";
        clear: both;
    }

    section.features > .wrap-container .row div {
        margin-bottom: 35px;
    }
}

/* LG DESKTOP  1170px > */
@media screen and (min-width: 1170px) {

    /* GENERAL */
    section h2 {
        font-size: 2.2rem;
    }

    /* UTILITIES */
    /* icon font */
    nav .center-nav > ul > li:nth-child(odd) > a::after,
    nav .right-nav > ul > li:nth-child(2) > a::after {
        padding-left: 5px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f107";
    }

    /* text */
    .main-text {
        font-size: 1.4rem;
    }

    /* header content */
    header {
        font-size: 14px;
    }

    header nav .col-xs-7 {
        display: none;
    }
    header .desktop-nav {
        display: block;
    }
    
    header li {
        display: inline-block;
    }
    nav .desktop-nav > .center-nav ul > li:not(:first-of-type),
    nav .desktop-nav > .right-nav ul > li:not(:first-of-type) {
        margin-left: 20px;
    }

    /* hero section */
    section.hero {
        padding-bottom: 66px;
    }

    h1 {
        font-size: 3.7rem;
    }

    .hero-text p {
        margin-top: 16px;
    }

    .form-login h2 {
        line-height: 1.6em;
    }

    /* designed-dev section */
    section.designed-dev .slide-number {
        margin-top: 14px;
    }

    section.designed-dev p {
        margin-bottom: 75px;
    }

    /* help */
    footer .help {
        position: fixed;
        right: 130px;
        bottom: 55px;
        left: auto;    
    }

    footer .shark {
        position: fixed;
        right: 40px;
        bottom: 55px;
        left: auto;
    }
}